[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tmux-colors-solarized"]
	path = tmux/plugins/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized
[submodule "nvim/plugged/iron.nvim"]
	path = nvim/plugged/iron.nvim
	url = https://github.com/hkupty/iron.nvim
	branch = direct-invoke
[submodule "zsh/plugins/spaceship-prompt"]
	path = zsh/plugins/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-net-speed"]
	path = tmux/plugins/tmux-net-speed
	url = https://github.com/tmux-plugins/tmux-net-speed
[submodule "tmux/plugins/tmux-plugin-sysstat"]
	path = tmux/plugins/tmux-plugin-sysstat
	url = https://github.com/samoshkin/tmux-plugin-sysstat
[submodule "tmux/plugins/tmux-prefix-highlight"]
	path = tmux/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight
[submodule "nvim/packer/packer/start/kommentary"]
	path = nvim/packer/kommentary
	url = https://github.com/b3nj5m1n/kommentary
[submodule "nvim/packer/packer/start/lspsaga.nvim"]
	path = nvim/packer/lspsaga.nvim
	url = https://github.com/glepnir/lspsaga.nvim
[submodule "nvim/packer/packer/start/lualine.nvim"]
	path = nvim/packer/lualine.nvim
	url = https://github.com/hoob3rt/lualine.nvim
[submodule "nvim/packer/packer/start/nvim-compe"]
	path = nvim/packer/nvim-compe
	url = https://github.com/hrsh7th/nvim-compe
[submodule "nvim/packer/packer/start/nvim-lspconfig"]
	path = nvim/packer/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/packer/packer/start/nvim-treesitter"]
	path = nvim/packer/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim/packer/packer/start/nvim-web-devicons"]
	path = nvim/packer/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "nvim/packer/packer/start/packer.nvim"]
	path = nvim/packer/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule "nvim/packer/packer/start/plenary.nvim"]
	path = nvim/packer/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/packer/packer/start/popup.nvim"]
	path = nvim/packer/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule "nvim/packer/packer/start/telescope.nvim"]
	path = nvim/packer/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "nvim/packer/packer/start/surround.nvim"]
	path = nvim/packer/surround.nvim
	url = https://github.com/blackCauldron7/surround.nvim
[submodule "nvim/packer/gruvbox-flat.nvim"]
	path = nvim/packer/gruvbox-flat.nvim
	url = https://github.com/eddyekofo94/gruvbox-flat.nvim
[submodule "nvim/packer/nvim-lspinstall"]
	path = nvim/packer/nvim-lspinstall
	url = https://github.com/kabouzeid/nvim-lspinstall
[submodule "nvim/packer/nvim-tree.lua"]
	path = nvim/packer/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua
[submodule "nvim/packer/neoscroll.nvim"]
	path = nvim/packer/neoscroll.nvim
	url = https://github.com/karb94/neoscroll.nvim
[submodule "nvim/packer/formatter.nvim"]
	path = nvim/packer/formatter.nvim
	url = https://github.com/mhartington/formatter.nvim
[submodule "nvim/packer/vim-snippets"]
	path = nvim/packer/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "nvim/packer/ultisnips"]
	path = nvim/packer/ultisnips
	url = https://github.com/SirVer/ultisnips/
[submodule "nvim/packer/trouble.nvim"]
	path = nvim/packer/trouble.nvim
	url = https://github.com/folke/trouble.nvim
[submodule "nvim/packer/vim-surround"]
	path = nvim/packer/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "nvim/packer/vim-repeat"]
	path = nvim/packer/vim-repeat
	url = https://github.com/tpope/vim-repeat
