[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tmux-colors-solarized"]
	path = tmux/plugins/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized
[submodule "nvim/plugged/iron.nvim"]
	path = nvim/plugged/iron.nvim
	url = https://github.com/hkupty/iron.nvim
	branch = direct-invoke
[submodule "zsh/plugins/spaceship-prompt"]
	path = zsh/plugins/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "nvim/plugged/simpylfold"]
	path = nvim/plugged/simpylfold
	url = https://github.com/tmhedberg/SimpylFold
