snippet '' "wrap single quotes" iA
'${1:${VISUAL}}'
endsnippet

snippet "" "wrap double quotes" iA
"${1:${VISUAL}}"
endsnippet

snippet (( "wrap parens" iA
(${1:${VISUAL}})
endsnippet

snippet {{ "wrap braces" iA
{${1:${VISUAL}}}
endsnippet

snippet [[ "wrap bracket" iA
[${1:${VISUAL}}]
endsnippet
