[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = fantasmo
	email = gheadley27@gmail.com
[credential]
	helper = osxkeychain
[core]
	editor = nvim
