layout {
    cwd "/Users/gheadley"
    default_tab_template {
        pane size=1 {
            plugin location="zellij:compact-bar"
        }
        children
    }
    tab focus=true cwd="develop" name="dev" 
    tab name="ops" 
    tab name="data" 
    tab name="shell" 
    tab cwd=".dotfiles" name="conf" 
    tab name="free" 
}
